.homeSection {
  height:550px;
  position: relative;
  @media screen and (max-width: 768px) {
  }
  background-color: var(--tertiary);
  .carousel-inner {
    height: 100%;
  }
  .carousel {
    height: 100%;
  }
  .carousel-item {
    overflow: hidden;
    height: 100%;
    img {
      height: auto;
      object-fit: cover;
      min-height: 100%;
    }
  }
}