header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  .navbar {
    height: 70px;
    @media screen and (max-width:991.98px) {
    }

    .navbar-collapse,
    .navbar-nav,
    .nav-item{
      @media screen and (min-width:992px){
        height: 100%;
        gap: 30px;
        .nav-link{
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0;
        }
      }
    }
  }
  &.fixed{
    position: fixed;
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  }
}

//Navbar
.navbar-toggler{
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.navbar-nav {
  --bs-nav-link-hover-color: var(--tertiary);
  @media screen and (max-width:991.98px) {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px 30px;

    .nav-item{
      &:not(:first-child){
        .nav-link{
          border-top: 1px solid var(--gray-light);
          padding: 15px 0;
          margin-bottom: 0;
        }
      }
    }
    
  }
  .nav-link{
    transition: all .3s linear;
    &.dropdown-toggle{
      &.show{
        color: var(--tertiary);
      }
    }
  }
}
